<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidLearn">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLearn"
        android:networkSecurityConfig="@xml/network_config">

        <activity
            android:name="com.example.internet.MainActivityInternet"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.example.service.MyIntentService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.example.service.MainActivityService"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.media.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@/xml/file_paths" />
        </provider>

        <activity
            android:name="com.example.media.NotificationActivity"
            android:exported="false" />
        <activity
            android:name="com.example.media.MainActivityMedia"
            android:exported="true" />
        <activity
            android:name="com.example.content.MainActivityPerson"
            android:exported="true" />
        <activity
            android:name="com.example.content.MainActivityContent"
            android:exported="true" />
        <activity
            android:name="com.example.dataSave.BaseMainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.dataSave.SharedMainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.dataSave.FileMainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.broadcast.LoginActivity"
            android:exported="true" />

        <receiver
            android:name="com.example.broadcast.AnotherBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1">
                <action android:name="com.example.broadcast.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.broadcast.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="2">
                <action android:name="com.example.broadcast.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.broadcast.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.broadcast.BroadMainActivity"
            android:exported="true" />
        <activity
            android:name=".NewsContentActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.androidLearn.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.androidLearn.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsMainActivity"
            android:exported="true"
            android:screenOrientation="sensor" />
        <activity
            android:name=".F1Activity"
            android:exported="false"
            android:screenOrientation="sensor" />
        <activity
            android:name=".U4Activity"
            android:exported="false" />
        <activity
            android:name=".U3Activity"
            android:exported="false" />
        <activity
            android:name=".U2Activity"
            android:exported="false" />
        <activity
            android:name=".U1Activity"
            android:exported="false" />
        <activity
            android:name=".L2Activity"
            android:exported="false" />
        <activity
            android:name=".L1Activity"
            android:exported="false" />
        <activity
            android:name=".ThirdActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.androidLearn.ACTION_THIRD" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.androidLearn.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.androidLearn.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.androidLearn.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:exported="false"
            android:label="@string/app_nav_title" />
    </application>

</manifest>